
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Noto Kufi Arabic', sans-serif;

}


/*//////////////////////////////////////////////////////////*/

[data-theme=light] {
	--sidebar-select-color: #3f51b52e;
	--SpColor: #3f51b52e;
	--bg-color:#f7f7f7; /*ededed4f;*/
	--navbar-border-color:#e1e1e1;
	--bg-layout-side-section:#fff;
	--btn-border:#acacac82;
}

/*.navbar {
    height: 48px;
    background: #3f51b5a1;
    border-bottom: 1px solid var(--border-color);
    padding: 0;
}
*/

[data-theme=dark] {

	--sidebar-select-color: #6a5acdb3;           /*6a5acdb3       00645   6a5acdb3     */
	--SpColor: #7080901f;
	--btn-primary:#6a5acdb3;
	--neutral: #FFF;
	--checkbox-gradient: linear-gradient(180deg, var(--btn-primary) -124.51%, var(--btn-primary) 100%);
	--bg-color:#1c1c1c;
	--bg-layout-side-section:var(--fg-color);
	--btn-border:#5e5e5e;
}
/* التركيز على الازرار */

.widget.onboarding-widget-box .widget-body .onboarding-step.active, .widget.onboarding-widget-box .widget-body .onboarding-step:hover { 
	background-color: var(--SpColor);
}

/* التركيز على القائمة الجانبية */ 
.standard-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar
.standard-sidebar-item.selected {
	background-color: var(--sidebar-select-color);
}





/* .standard-sidebar .standard-sidebar-item:hover, .desk-sidebar .standard-sidebar-item:hover, .search-dialog .search-results .search-sidebar .standard-sidebar-item:hover { 
    background-color: var(--sidebar-select-color); text-decoration: none;
}
*/


.navbar {
	border-bottom: 1px solid var(--navbar-border-color);

}

.layout-side-section {
	background-color: var(--bg-layout-side-section);
	border-radius: var(--border-radius-lg);
	border: 1px solid var(--border-color);
}

.sidebar-item-container {
	line-height: 30px;
}

/* لون زر الفلتر وكلف الى وتصفية وفرز ...الخ  */
.btn.btn-default {
	border: 2px dotted var(--btn-border);
}
